html, body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
}
h1 {
  font-family: 'Lato Black', sans-serif;
  font-weight: 900;
}
.slider {
  position: relative;
  margin: 0px auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
}
.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.arrow {
  cursor: pointer;
  transition: transform ease-in .1s;
}
.nextArrow {
  margin-left:30px
}
.backArrow {
  margin-right:30px
}
.backArrow:hover {
  padding-bottom:4px;
  border-bottom:2px solid #666666;
}
.nextArrow:hover {
  padding-bottom:4px;
  border-bottom:2px solid #666666;
}
.solidText {
  white-space: nowrap;
}
.fa-arrow-right:before, .fa-arrow-left:before {
  color: #222
}
.slider-nav__grey {
  background-color: #eee;
  padding:10px;
  margin: 0;
}
.tagline {
  font-weight:600;
}
figcaption {
  font-size: smaller;
  font-weight: 100;
}
.tagging {
  margin:10% 0;
  font-weight: 100;
}
.tagging h3 {
  font-size: small
}
.tagging a {
  color: #FF0080
}